Flask
Flask-Bootstrap
flask-restx
flatbuffers
googlemaps
influxdb
itsdangerous
jedi
Jinja2
joblib
jsonschema
Keras
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
numexpr
numpy
pandas
Pillow
pymongo
requests
scikit-learn
scipy
simplejson
sklearn
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.5.2
tensorflow-estimator
tslearn
minisom
Flask-SocketIO
python-engineio
python-socketio
