body {
	font-family: var(--bs-font-sans-serif);
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 20px 20px;
	word-break: normal;
}

.tg .tg-0lax {
	text-align: left;
	vertical-align: top
}

#ms_graph_list {
	max-height: 650px;
	overflow-y: scroll;
	margin-left: 2%;
}

.ms_graph {
	min-width: 280px !important;
	min-height: 160px !important;
}

.cluster_info {
	width: 90px
}

.cluster_info:hover,
.cluster_info:visited {
	color: white;
}

.card {
	border-radius: 0;
}

.result {
	overflow: auto;
}

#result_area {
	min-height: 500px !important;
	max-height: 700px;
	overflow: auto
}

#result_contents1 {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#result_contents2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.explain {
	height: 38px;
	width: 160px !important;
	font-size: medium;
	padding: 0 !important;
}

.number_in {
	width: 180px !important
}

.option_area {
	position: sticky;
	top: 0;
	background-color: white;
}

.cluster_info {
	color: white;
	border-radius: 0%;
}

.card-body-inn {
	margin: 10px 25px;

}

.card-body-inn>div>.fa-circle {
	line-height: 3.4;
	font-size: 0.1em;
	color: black;
	margin-right: 4px;
}

.card-title {
	margin-left: 3px;
	color: black;
}

.btn-deep-navy {
	color: #fff;
	background-color: #214577;
}

.btn-deep-blue {
	color: #fff;
	/*background-color: #1d83cf;*/
	background-color: #4289cd;
}

.btn-miranda {
	color: #fff;
	/*background-color: #1d83cf;*/
	background-color: #e49f4f;
	;
}

.loading-prograss {
	z-index: 10;
	position: absolute;

}

.roundBox {
	background: #efefef;
	padding: 30px 40px 10px;
	margin: 15px 0px 35px;
	border-radius: 10px;
}

.submitBox {
	float: right;
}

.submitBox>a {
	background: #494949;
	color: #fff;
}

#cluster_count {
	width: 90% !important;
	height: 90% !important;
}

.timeSchedule {
	width: 160px;

}

.box_block,
.box_subject,
.box_form {
	display: inline-block;
}

.box_subject {
	min-width: 100px;
	width: 120px;
	text-align: end;
	padding-right: 10px;
}

.domain_div .box_form>.box_input,
.domain_div .box_form>.box_select {
	min-width: 120px;
	width: 170px;
}

.cluster_div .box_form>.box_input,
.cluster_div .box_form>.box_select {
	min-width: 120px;
	width: 140px;
}

#duration {
	width: 60px;
}

.rountTitle {
	min-width: 180px;
	width: 180px;
}



.cycleSelectBox {
	width: 200px;
}

.graph_result_area {
	display: none;
}

.cluster_info {
	background: #e2e2e2;
	color: black;
	border: none;
}

.clust_btn_on {
	background: #23afcc;
	color: white;
	border: none;
}