div.dataBox {
    width: 230px;
    height: 130px;
    border: none;
    background-color: cadetblue;
    margin: 4px;
}

div.boxHead {
    display: flex;
    border-bottom: 1px solid lightgray;
    color: white;

}

div.boxHead>.click,
div.boxHead>.remove {
    margin-left: auto;
}

div.preprBox {
    width: 230px;
    height: 130px;
    border: none;
    background-color: cadetblue;
    margin: 4px;
}

div.previewBox {
    width: 300px;
    height: 600px;
    border: none;
    background-color: cadetblue;
    margin: 4px;
}

.stepblock {
    max-width: 300px;

}

.barWrapper {
    justify-content: center;
}

div[class^=stepBar_] {
    width: 250px;
}

div[class^=paramBar_] {
    width: 300px;
    border: 1px solid #e3e6f0;
    display: flex;
    flex-direction: column;
    border-radius: 0.35rem;
}

.paramBarBtn {
    margin-left: auto;
    margin-top: auto;
}

.li_step {
    background-color: #f8f8f8
}

.list-group-item-li_Original {
    background-color: #E5E3C9;
    color: #000000e3;
}

.list-group-item-li_Refinement {
    background-color: #B4CFB0;
    color: black;
}

.list-group-item-li_RangeCheck {
    background-color: #94B49F;
    color: white;
}

.list-group-item-li_OutlierDetection {
    background-color: #789395;
    color: white;
}

.list-group-item-li_Imputation {
    background-color: #495371;
    color: white;
}

.param_add_button {
    font-size: 1.5em;
    color: #3a8fda;
}

#form_manual {
    display: none;
}

.block_complt {
    border: 1px solid #e0e0e0;
    width: 300px;
    height: 200px;
    background: white;
    display: flex;
    align-items: center;
}

.block_complt>div {
    padding: 10px;
    text-align: center;
}