.highlight {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #eef2f7;
}
.explain{
	padding: 1rem;
    margin-bottom: 1rem;
	margin-top: 3rem;
    background-color: #faf1ff;
	border-radius: 0.25rem;
}
.btn-icon-split, .btn-sm{
	margin:10px;
	padding:.375rem .75rem;
	display:inline-block;
}
.feature_labelInformation_set{
	padding: 15px;
    background: #ffffff;
    border-radius: 10px;
    max-height: 500px;
    overflow: scroll;
}
.result1 {
    padding: 10px;
}
.middle_title, .small_title{
	color: #5a6a9a;
}
.explain_title{
	color: #5a6a9a;
	margin-top: 2rem;
}
.title{
	color: #576180;
}


.slidecontainer {
	display: inline-block;
	/*width: 100%;  Width of the outside container */
	min-width: 400px;
}
  
  /* The slider itself */
  .slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }