{% extends 'layout.html' %}
{% block content%}
<style>
	.process_area {
		overflow: auto;
		min-height: 300px;
		max-height: 400px;
	}

	.result_area {
		min-height: 500px;
		max-height: 500px !important;
		display: flex;
	}

	.process {
		margin: 2% 10%;
	}

	.process i {
		color: lightcoral;
	}

	.btn-form-example {
		min-height: 130px;
		max-height: 130px;
		overflow: scroll;
	}

	#re_freq_min {
		width: 90px;
	}

	#result_picture {
		overflow: auto;
		width: 50%;
		border-right: dashed 2px lightgray;
	}

	#result_table {
		width: 50%;
		padding-left: 10%;
		padding-top: 0%;
		height: 70%;
		max-height: 450px;
		overflow-x: auto;
	}

	/*TABLE*/
	.tg {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.tg td {
		border-color: lightgray;
		border-style: dashed;
		border-width: 1px;
		font-size: 14px;
		overflow: hidden;
		padding: 8px 8px;
		word-break: normal;
	}

	.tg .tg-0lax {
		text-align: left;
		vertical-align: top;
		font-weight: bold;
	}

	/*
#cluster_table td{background-color:#fff;color:#333;font-size:14px;font-weight:normal;overflow:hidden;padding:9px 18px;}
#cluster_table th{background-color:#faf6f6;color:#333;font-size:14px;font-weight:normal;overflow:hidden;padding:9px 18px;word-break:normal;}
#cluster_table .tg-ujoh{font-size:17px;font-weight:bold;text-align:center;vertical-align:top}
#cluster_table .tg-13pz{font-size:16px;text-align:center;vertical-align:top}
*/
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href={{url_for('static', filename="css/style.css" )}}>

<div class="container-fluid">
	<!-- First row -->
	<div class="row mt-3">
		<!-- Col 1 -->
		<div class="col-xl-5 col-lg-5 h-100">
			<div class="card shadow rounded-0">
				<div class="card-header d-flex flex-row align-items-center justify-content-between">
					<h5 class="font-weight-bold text-gray-900">Integration Info</h5>
				</div>

				<div class="card-body process_area" id="integraion_info_area">
					<div class="border p-2 mb-1" id="db_count_card">
						<b id="db_count"></b>
					</div>

				</div>
				<div class="card-body">
					<div class="learning_btn border p-3">
						<div class="form-group row">
							<label for="refre" class="text-sm col-sm-4 col-form-label"><b>&nbsp; Resampleing
									Frequency(min): </b></label>
							<div class="col">
								<input class="form-control" type="number" name="refre" value=4 id="re_freq_min"
									required>
							</div>
							<div class="col-auto">
								<a href="#" class="btn btn-success dropdown no-arrow learning_btn rounded-0"
									id='inte_start_btn'>
									<i class="fa fa-check" aria-hidden="true">Integration Start</i>
								</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- Col 1 End -->

		<!-- Col 2 -->
		<div class="col-xl-7 col-lg-7 h-100">
			<div class="card shadow rounded-0">
				<div class="card-header d-flex flex-row align-items-center justify-content-between">
					<h5 class="font-weight-bold text-gray-900">Learning Parameter</h6>
				</div>

				<div class="card-body process_area">
					<table class="table">
						<colgroup>
							<col width="20%" />
							<col width="80%" />
						</colgroup>
						<tbody>
							<tr>
								<td>LSTM Model</td>
								<td>
									<select type="text" id='select1' class="form-control">
										<option selected disabled>Select LSTM Model</option>
										<option value="StackedLSTM">StackedLSTM</option>
										<option value="VanilaLSTM">VanilaLSTM</option>
										<option value="BiDirectionalLSTM">BiDirectionalLSTM</option>
										<option value="CNNLSTM">CNNLSTM</option>
										<option value="ConvLSTM">ConvLSTM</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>FUTURE MIN</td>
								<td><input class="form-control" type="number" name="future" value=10 id="future_min"
										required></td>
							</tr>
							<tr>
								<td>PAST MIN</td>
								<td><input class="form-control" type="number" name="past" value=60 id="past_min"
										required></td>
							</tr>
							<tr>
								<td>TARGET FEATURE</td>
								<td><select id="target_feature" class=" form-control"></select></td>
							</tr>
							<tr>
								<td>FEATURE LIST</td>
								<td><select id="feature_list" class=" form-control" multiple="multiple"></select></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="card-body">
					<div class="learning_btn border p-3">
						<div class="form-group row justify-content-end">
							<a href="#" class="btn btn-primary dropdown no-arrow rounded-0 learning_btn mr-3"
								id='start_btn'>
								<i class="fas fa-exclamation-triangle" aria-hidden="true">Learning Start</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Col 2 End -->
	</div>
	<!-- First row End -->

	<!-- Second row -->
	<div class="row mt-3">
		<!-- Col 1 -->
		<div class="col-xl-4 col-lg-5">
			<div class="card shadow rounded-0">
				<div class="card-header d-flex flex-row align-items-center justify-content-between">
					<h5 class="font-weight-bold text-gray-900">Learning Info</h6>
				</div>

				<div class="card-body process_area">
					<div class="h-100 py-2">
						<div class="col mr-2">
							<div class="font-weight-bold text-gray-800">Partial DataSet Hash</div>
							<div class="process">
								<code id="partial_dataset_hash"></code>
							</div>
						</div>

					</div>
					<div class="h-100 py-2">
						<div class="col mr-2">
							<div class="font-weight-bold text-gray-800">Model File Path</div>
							<div class="process">
								<code id="model_file_path"></code>
							</div>
						</div>

					</div>


					<!-- Partial DataSet Hash : <code id="partial_dataset_hash"></code> 
					Model File Path : <code id="model_file_path"></code>  -->
				</div>
			</div>
		</div>
		<!-- Col 1 End -->

		<!-- Col 2 -->
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4 rounded-0">
				<div class="card-header d-flex flex-row align-items-center justify-content-between">
					<h5 class="font-weight-bold text-gray-900">Learning Process</h6>
				</div>

				<div class="card-body row process_area">
					<!-- Process 1 Card -->
					<div class="col-xl-3 col-md-6">
						<div class="border h-100 p-2">
							<div class="row no-gutters align-items-center">
								<div class="col m-2">
									<div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Process 1
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800 ">Integration</div>
									<div class="process row justify-content-center">
										<i class="fa fa-ellipsis-h fa-5x" id="process1" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Process 1 Card End -->
					<!-- Process 2 Card -->
					<div class="col-xl-3 col-md-6 ">
						<div class="border h-100 p-2">
							<div class="row no-gutters align-items-center">
								<div class="col m-2">
									<div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Process 2
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">Training</div>
									<div class="process row justify-content-center">
										<i class="fa fa-ellipsis-h fa-5x" id="process3" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Process 2 Card End -->
				</div>
			</div>
		</div>
		<!-- Col 2 End -->
	</div>
	<!-- Second row End -->

	<!-- Third row -->
	<div class="row mt-3">
		<!-- Col 1 -->
		<div class="col-lg-12 mb-12">
			<div class="card shadow rounded-0">
				<div class="card-header">
					<h5 class="font-weight-bold text-gray-900">Learning Result</h6>
				</div>
				<div class="card-body result_area">
					<div id="result_picture">
						<img class="fit-picture" src="" id="learning_result" alt="Training Result Graph"
							style="width:650px">
					</div>

					<div class="mt-3 p-2 w-75">
						<table class="table" id="cluster_table">
							<thead>
								<tr>
									<th>Epoch</th>
									<th>Train RMSE</th>
									<th>Validation RMSE</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- Col 1 End -->
	</div>
	<!-- Third row End -->
</div>

{% endblock %}
{% block script %}
<script src={{url_for('static', filename="js/custom_ui.js" )}}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src={{url_for('static', filename="js/main.js" )}}></script>
<script type="text/javascript" charset="utf8">
	db_info = {{ db_info | tojson | safe }}

	const client_id = Math.floor(Math.random() * 10000000);
	const ICONS = {
		// nothing, waiting, success
		"nothing": "fa fa-ellipsis-h fa-5x",
		"waiting": "fa fa-spinner fa-pulse fa-5x fa-fw",
		"complete": "fa fa-check fa-5x",
		"fail": "fa fa-ban fa-5x"
	}
	const LEARNING_URL = '/DataLearning/LSTMLearning'
	const DATASET_URL = '/DataLearning/dataset'

	var partial_dataset_type_name
	var db_info
	var re_freq_min

	$('#inte_start_btn').on('click', function () {
		icon_change($("#process1"), "waiting")

		re_freq_min = $("#re_freq_min").val()
		params = {
			"db_info": db_info,
			"re_freq_min": re_freq_min
		}
		request_post(
			DATASET_URL,
			params,
			function (result) {
				print_integration_result(result)
			}
		)
	})

	$('#start_btn').on('click', function () {
		if (re_freq_min == undefined) { alert("Do Integration First"); return }
		feature_list = $("#feature_list").val()
		if (feature_list.length == 0) { alert("Choose feature list"); return }

		icon_change($("#process3"), "waiting")
		learning_method = $('#select1').val()
		if (learning_method == undefined) learning_method = "StackedLSTM"
		params = {
			"client_id": client_id,
			"past_min": $("#past_min").val(),
			"future_min": $("#future_min").val(),
			"target_feature": $("#target_feature").val(),
			"re_freq_min": re_freq_min,
			"feature_list": feature_list,
			"learning_method": learning_method
		}
		request_post(
			LEARNING_URL,
			params,
			function (result) {
				print_learning_result(result)
			}
		)
	})

	function print_integration_result(result) {
		var features = result.responseJSON['features']
		makeSelect(features, 'target_feature');
		makeSelect(features, 'feature_list', false);
		start_btn = $("#start_btn")
		if (start_btn.hasClass('btn-light')) {
			start_btn.removeClass('btn-light')
			start_btn.addClass('btn-success')
			$("#start_btn i").removeClass('fa-exclamation-triangle')
			$("#start_btn i").addClass('fa-check')
		}
		icon_change($("#process1"), "complete")
	}

	function print_learning_result(result) {
		res = result.responseJSON
		console.log(res)
		if ("errMsg" in res) {
			icon_change($("#process3"), "fail")
			return
		}
		icon_change($("#process3"), "complete")
		mid_data = res["mid_data"]
		partial_dataset_type_name = mid_data["partial_dataset_type"]
		var model_file_path = mid_data["file_path"]
		$("#learning_result").attr("src", 'data:image/png;base64,' + res["img"]);
		$("#learning_result").css("width", "100%")
		$("#partial_dataset_hash").text(partial_dataset_type_name)
		$("#model_file_path").text(model_file_path)

		rmse = res["rmse"]
		rmse_train = rmse["Train"]
		rmse_valid = rmse["Validation"]

		var real_table = $("#cluster_table tbody")
		let index = 0
		rmse_train.forEach(element => {
			row = $('<tr></tr>')
			row.append('<td class="tg-13pz">' + (index + 1).toString() + '</td>')
			row.append('<td class="tg-13pz">' + element.toFixed(3) + '</td>')
			row.append('<td class="tg-13pz">' + rmse_valid[index++].toFixed(3) + '</td>')
			real_table.append(row)
		});
	}

	function icon_change(ele, status) {
		ele.removeClass()
		ele.addClass(ICONS[status])
	}

	function make_integration_one_card(table_info, integraion_info_area) {
		table_info_card = document.createElement('div');
		$(table_info_card).addClass("border pl-2 mb-1");
		table_info_header = document.createElement('div');
		$(table_info_header).addClass("p-3");

		$(table_info_header)
			.append('<div><h8 class="m-0 font-weight-bold text-primary">Database : ' + table_info["db_name"] + '</h8></div>')
			.append('<div><h8 class="m-0 font-weight-bold text-primary">Measurement : ' + table_info["measurement"] + '</h8></div>')
			.append('<div><b>Start Time : ' + table_info["start"] + '</b></div>')
			.append('<div><b>End Time : ' + table_info["end"] + '</b></div>')

		$(table_info_card).append(table_info_header)
		$(integraion_info_area).append(table_info_card)
	}

	$(document).ready(function () {
		var table_count = db_info["db_info"].length
		$("#db_count").text("The number of Tables : " + table_count)

		db_info["db_info"].forEach(info => {
			make_integration_one_card(info, $("#integraion_info_area"))
		});
	})

</script>
{% endblock %}