{% extends 'layout.html' %}
{% block content%}
<style>

</style>

<link href={{url_for('static', filename="css/dataselection.css" )}} rel="stylesheet">
<link type="text/css" media="all" href={{url_for('static', filename="css/daterangepicker.css" )}} rel="stylesheet" />

<div class="container-fluid">
	<div class="row mt-4 mb-4">
		<!-- Content Column -->
		<div class="col-xl-12">
			<div class="navbar navbar-expand navbar-dark bg-dark ">
				<div class="navbar-collapse collapse justify-content-between align-items-center w-100">
					<ul class="nav navbar-nav">
						<!-- Nav Item - Alerts -->
						<li class="nav-item dropdown no-arrow mx-1">
							<a class="nav-link dropdown-toggle h5" href="#" id="alertsDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Database
								<!--<i class="fas fa-bell fa-database font-weight-bold font-info"></i>-->
								<!-- Counter - Alerts -->
								<span class="badge badge-danger badge-counter " id="db-counter"></span>
							</a>
							<!-- Dropdown - Alerts -->
							<div class="dropdown-list dropdown-menu shadow animated--grow-in p-3"
								aria-labelledby="alertsDropdown">
								<nav class="top_button_nav">
									<span class="h5 mb-0 font-weight-bold text-gray-800">DB List</span>
									<div id="db_list" class="btn-group-vertical d-grid gap-2">

									</div>
								</nav>
								<a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
							</div>
						</li>

					</ul>
					<ul class="nav navbar-nav flex-row justify-content-start flex-nowrap">
						<li class="nav-item ml-auto">
							<button class="btn btn-info btn-circle h5" id="merge"><i
									class="fas fa-sign-out-alt"></i></button>
						</li>
					</ul>
				</div>
				<div class="topbar-divider d-none d-sm-block"></div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-8">
			<div class="row mb-4">
				<div class="col-xl-8">
					<div class="card shadow rounded-0 h-100 ">
						<div class="card-body">
							<div class="row no-gutters align-items-center ">
								<div class="col mr-2">
									<span class="text-dark text-uppercase font-weight-bold mb-1">
										Measurement List
									</span>
									<div>
										<span class='text-dark' id='db-name'></span>
										<span class="badge badge-warning badge-counter " id="ms-counter"></span>
									</div>
									<div class="border mt-2 p-1 text-gray-800 " id="ms-list">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="card shadow rounded-0 h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center ">
								<div class="col mr-2 del-int">
									<span class="text-dark text-uppercase mb-1 font-weight-bold">
										Selected MS
									</span>
									<div class="text-gray-800 mb-4" id="selected-ms-list"></div>

									<div class='del-int-sub'>

										<a href="#" class="btn btn-primary btn-block rounded-0" id='delete'>
											<i class="fas fa-bell fa-trash mr-1"></i>
											Delete All</a>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="card shadow rounded-0 h-100">
						<div class="card-body">
							<div class="row no-gutters align-items-center ">
								<div class="col mr-2" id="histo_title">
									<span class="text-dark font-weight-bold text-uppercase mb-1">
										Feature information</span>
								</div>
							</div>
							<div id="histogram_set" class="content"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4">
			<div class="row">
				<div class="col-xl-12">
					<div class="card shadow rounded-0 h-100 ">
						<div class="card-body">
							<div class="row no-gutters align-items-center ">
								<div class="col mr-2">
									<span class='font-weight-bold text-dark'></span>
									<span class="text-dark text-uppercase font-weight-bold mb-1" id="overapped">overlap
										time</span>

									<div class="mt-4" id="time">
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--
	<div class="col-xl-1 col-lg-1">
		<button class="btn btn-info btn-circle h5" id="merge"><i class="fas fa-sign-out-alt"></i></button>
	</div>
	-->
	</div>
</div>

<div id="loading-prograss" class="loading-prograss" style="display:none;">
	<div class="spinner-border text-danger" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="prograss_title text-danger">Loading Integrated Data</div>
</div>

{% endblock %}
{% block script %}
<script src={{url_for('static', filename="js/echart_dataFeature_visualization.js" )}}></script>
<script src={{url_for('static', filename="js/custom_ui.js" )}}></script>
<script src={{url_for('static', filename="js/datatime_calculation.js" )}}></script>
<script src={{url_for('static', filename="js/echart_manipulation.js" )}}></script>

<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/danfojs@0.2.3/lib/bundle.min.js"></script>
<script src={{url_for('static', filename="js/Chart.js" )}}></script>
<script src={{url_for('static', filename="js/echarts.min.js" )}}></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript" src={{url_for('static', filename="js/daterangepicker.js" )}}></script>


<script>

	db_name = ""

	var selected_list = {}
	const UNSELECTED_BACKGROUND = "#858796"
	const SELECTED_BACKGROUND = "crimson"
	const DATE_SELECTION_ID = 'input[name="daterange"]'
	var overlap_start_time = ""
	var overlap_end_time = ""

	function removeSpecialData(data) {
		const reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\"]/gi
		data = data.replace(/\s/gi, "");
		if (reg.test(data)) {
			return data.replace(reg, "");
		} else {
			return data;
		}

	}


	/*
	 @ 개별 selected 측정 장소 지우는 기능 
	*/
	function removeThisMs(e) {

		let value = $(e);
		let domain = value.attr("data1");
		let sub_domain = value.attr("data2");

		let db_name = $(e).parent().find(".db_name_s").text();
		let ms_name = $(e).parent().find(".ms_name_s").text();

		let ms_idx = selected_list[domain][sub_domain].indexOf(ms_name);

		let block = $("a[data=" + ms_name + "]");
		$(block).css("backgroundColor", UNSELECTED_BACKGROUND);
		$(block).css("borderColor", UNSELECTED_BACKGROUND);

		make_unselected(db_name, ms_name, domain, sub_domain, ms_idx);
		get_overlap_duration(selected_list, $("#time"));

		// 블록 지우기
		$("div[id=" + domain + "_" + sub_domain + "_" + ms_name + "]").remove();

		if (Object.keys(selected_list).length === 0) {
			$("#delete").trigger("click");
		}


	}

	$(document).ready(function () {

		get_url = '/DataIngestion/db_list'
		$.get(get_url, function (result) {
			result = JSON.parse(result)
			data = result['result']

			$('#db-counter').html(data.length)
			var style_result, db_list, a_tag, span_tag1, span_tag2, i_tag;
			data.forEach(function (item) {
				style_result = get_db_style(item.toLowerCase());
				db_list = $('#db_list');

				a_tag = $('<button></button>');
				$(a_tag).addClass('btn btn-icon-split btn-custom btn-db justify-content-md-start ' + style_result.color_style);

				span_tag1 = $('<span></span>');
				$(span_tag1).addClass('icon text-white-50');

				i_tag = $('<i></i>');
				$(i_tag).addClass('fas ' + style_result.icon_style);

				$(span_tag1).append(i_tag);
				$(a_tag).append(span_tag1);

				span_tag2 = $('<span></span>');
				$(span_tag2).html(item);
				$(span_tag2).addClass('text font-white ');

				$(a_tag).append(span_tag2);
				$(db_list).append(a_tag);

			});
		})
	});


	$(document).on('click', '.btn-db', function () {
		db_name = $(this).children("span:nth-child(2)").html();
		get_url = '/DataIngestion/measurement_list/' + db_name;

		//2022.04.19 - 요양원의 경우 글씨 빨간색 처리
		if (db_name.toUpperCase() === 'AIR_INDOOR_요양원') {

			$('#db-name').html('<span class="text-danger">' + db_name.toUpperCase() + '</span>');
		} else {
			$('#db-name').html(db_name.toUpperCase());
		}


		$.get(get_url, function (result) {
			result = JSON.parse(result);
			ms_list = result['result'];

			$('#ms-counter').html(ms_list.length);
			$('#ms-list').empty();

			ms_list.forEach(function (element) {
				domain = db_name.split("_")[0];
				sub_domain = db_name.slice(db_name.indexOf('_') + 1, db_name.length);
				var ms_item = make_name_onebutton(element, 'btn-secondary ms-item-btn', 'ms_item');


				if (check_selected(domain, sub_domain, element)) {
					ms_item.css("backgroundColor", SELECTED_BACKGROUND);
					ms_item.css("borderColor", SELECTED_BACKGROUND);
				}
				$('#ms-list').append(ms_item)
			});
		});

	});

	/*
		MEASUREMENT LIST 의 블록을 선택할 시 작동
	*/
	$(document).on('click', '.ms-item-btn', function () {
		//btn = $(this)

		let ms_name = $(this).children("i").html();
		let domain = db_name.split("_")[0];
		let sub_domain = db_name.slice(db_name.indexOf('_') + 1, db_name.length);

		// duplicate check
		if (!(domain in selected_list)) {
			selected_list[domain] = {}
			selected_list[domain][sub_domain] = [ms_name]
			$(this).css("backgroundColor", SELECTED_BACKGROUND);
			$(this).css("borderColor", SELECTED_BACKGROUND);

		} else {

			if (!(sub_domain in selected_list[domain])) {
				selected_list[domain][sub_domain] = [ms_name];
			}
			else {
				ms_idx = selected_list[domain][sub_domain].indexOf(ms_name)
				if (ms_idx === -1) {
					selected_list[domain][sub_domain].push(ms_name)
					$(this).css("backgroundColor", SELECTED_BACKGROUND)
					$(this).css("borderColor", SELECTED_BACKGROUND)
				}
				else {
					// alread selected => unselected
					// TODO
					// have to figure out the problem that the hover doesn't work after changing the color
					$(this).css("backgroundColor", UNSELECTED_BACKGROUND)
					$(this).css("borderColor", UNSELECTED_BACKGROUND)

					make_unselected(db_name, ms_name, domain, sub_domain, ms_idx)
					get_overlap_duration(selected_list, $("#time"))

					$("div[id=" + domain + "_" + sub_domain + "_" + ms_name + "]").remove();

					return;
				}
			}
		}

		var db_ms_item = $('<div>', '</div >');
		db_ms_item.addClass('ms_item_selected text-md text-dark mb-1')
		db_span = "<span class='db_name_s'>"
			+ db_name + "</span>&nbsp;<span class='ms_name_s'>"
			+ ms_name + "</span><span class='ml-2 font-weight-bold text-danger' data1='" + domain + "' data2='" + sub_domain + "' onclick='removeThisMs(this);' >X</span>"
		db_ms_item.html(db_span);

		$('#selected-ms-list').append(db_ms_item);

		// MISEON
		get_overlap_duration(selected_list, $("#time"))

		// JISU Strat

		var histogram_set = $('#histogram_set')
		var column_set = $('<div></div>').attr('id', db_name + '_' + ms_name).addClass('column_set')
		histogram_set.append(column_set)

		hist_url = "/DataStatistics/histogram/InfluxDB"
		hist_parameter = { 'db_name': db_name, 'ms_name': ms_name, 'number': 10000 }
		histogram_result = getValueDataByAjax(hist_url, JSON.stringify(hist_parameter), "post", "result")

		minmax_url = "/DataStatistics/minMax/InfluxDB"
		minmax_parameter = { "db_name": db_name, "ms_name": ms_name, "InfluxDB Connect": false }
		minmax_result = getValueDataByAjax(minmax_url, JSON.stringify(minmax_parameter), "post", "result")

		title = '<span class="text-gray-700 text-uppercase mb-2">' + ms_name + ': ' + db_name + '</span>'
		column_set.append(title)

		console.log("DF SUCCESS")

		for (column in histogram_result) {

			//individual_column_name_id = db_name +'_'+ms_name+'_'+column;
			//individual_echart_id = ms_name+'_'+column;

			individual_column_name_id = removeSpecialData(db_name + '_' + ms_name + '_' + column);
			individual_echart_id = removeSpecialData(ms_name + '_' + column);

			var individual_column = $('<div></div>').attr('id', individual_column_name_id + '_set').addClass('individual_column row');
			var individual_column_histogram = $('<div></div>').attr('id', individual_column_name_id + '_histogram').addClass('individual_column_histogram col-xl-7 col-lg-7');
			var individual_column_explain = $('<div></div>').attr('style', "height:400px;").addClass('individual_column_explain col-xl-4 col-lg-4');
			var histogram_chart = $('<canvas></canvas>').attr('id', individual_echart_id + "_histogram_chart");

			//2022.04.19
			let column_title;
			if (column === 'in_ciai') {
				column_title = '<span class="text-gray-700 text-none">Column Name :</span><span class="text-danger"> ' + column + '</span>'
			} else {
				column_title = '<span class="text-gray-700 text-none mb-2">Column Name : ' + column + '</span>'
			}


			individual_column.append(individual_column_histogram)
			individual_column.append(individual_column_explain)
			column_set.append(individual_column)
			individual_column_histogram.append(column_title)
			individual_column_histogram.append(histogram_chart)

			var chart_width = $('#' + individual_column_name_id + '_histogram').width()
			var chart_height = $('#' + individual_column_name_id + '_histogram').height()

			var chartDom = document.getElementById(individual_echart_id + "_histogram_chart");
			var myChart = echarts.init(chartDom);
			var option = DFtoBarPlot(histogram_result[column]["bins"], histogram_result[column]["value"])
			chartSize(myChart, chart_width, chart_height)
			option && myChart.setOption(option);

			var db_column_explain = $('<div></div>').addClass('border border-primary db_column_explain col p-4')
			individual_column_explain.append(db_column_explain)

			var minmax_title = $('<body><h6>Value Min&Max Information<hr></h6></body>').addClass('font-weight-bold text-primary');
			db_column_explain.append(minmax_title)

			var content_wrap = $('<ul></ul>')
			var min_information = $('<li></li>')
			content_wrap.append(min_information)
			console.log(column)
			min_information.html("Min : " + minmax_result[column].min + "")

			var max_information = $('<li></li>')
			content_wrap.append(max_information)
			max_information.html("Max : " + minmax_result[column].max + "")

			db_column_explain.append(content_wrap);
		}
		histogram_set.prepend(column_set)
	});
	// JISU End

	$("#delete").click(function () {
		$("#selected-ms-list").empty();
		$('#time').empty()
		$('#histogram_set').empty()
		selected_list = {}
		nodes = $('#ms-list').children(".ms-item-btn")
		nodes.each(function () {
			$(this).css("backgroundColor", UNSELECTED_BACKGROUND)
			$(this).css("borderColor", UNSELECTED_BACKGROUND)
		})
	});

	// seleted measurements lists
	$("#overapped").click(
		get_overlap_duration(selected_list, $("#time"))
	);


	$("#merge").click(function () {

		const val = $(DATE_SELECTION_ID).val();
		if (val == undefined) {
			alert("확인할 수 있는 데이터가 없습니다.");
			return;
		}

		selected_date = $(DATE_SELECTION_ID).val().split("-")
		formatted_selected_date = []
		// 02/05/2021 -> 2021-02-04
		selected_date.forEach(element => {
			divided = element.trim().split("/")
			new_element = divided[2] + "-" + divided[0] + "-" + divided[1]
			formatted_selected_date.push(new_element)
		});

		var intDataInfo = { "db_info": [], };
		$(".ms_item_selected").each(function () {
			var nodes = $(this)
			db_name_s = nodes.find(".db_name_s").html()
			ms_name_s = nodes.find(".ms_name_s").html()
			//db_info_json ={"db_name":db_name_s, "measurement":ms_name_s,"start":"2021-02-11 00:00:00", "end":"2021-05-01 00:00:00" }
			db_info_json = { "db_name": db_name_s, "measurement": ms_name_s, "start": formatted_selected_date[0] + " 00:00:00", "end": formatted_selected_date[1] + " 00:00:00" }
			intDataInfo['db_info'].push(db_info_json)
		})
		param = { 'intDataInfo': intDataInfo, 'clean_param': true, 're_frequency_sec': 4 * 60, 'clean_data_type': 'air' }
		console.log(param)

		$.ajax({
			type: 'post',
			url: '/DataIntegration/integratedData_view',
			data: JSON.stringify(param),
			dataType: "html",
			success: function (response) {
				//console.log("HERE");
				$("body").html(response);
			},
			error: function (xhr, status, error) {
				alert("에러가 발생했습니다. \n :: " + error);
				console.log(xhr);
				console.log(status);
				console.log(error);
			},
			beforeSend: function (xhr) {
				$("#loading-prograss").show();
				$("#loading-prograss").show().css({
					top: $(document).scrollTop() + ($(window).height()) / 3 + 'px',
					left: ($(window).width()) / 2.5 + 'px'
				});

			},
			complete: function () {
				$("#loading-prograss").hide();
			}
		})
	});


</script>
{% endblock %}