{% extends 'layout.html' %}
{% block content%}
<style>
	#i_option {
		margin-right: 30px;
	}

	.card_box {
		margin: auto;
		width: 85%;

	}

	#chk_box2 {
		background: lightgrey;
	}
</style>

<!--
<nav class='navbar navbar-expand navbar-light bg-white topbar  static-top shadow'>
	<ul class="navbar-nav ml-auto row">
		<div id='i_option' class="btn-group " role="group">
		</div>
		
		<div>
			<select id ='domain' class='p_option btn btn-secondary dropdown no-arrow  '>
			</select>
			<select id ='measurement' class='btn btn-secondary dropdown no-arrow  '>
			</select>
			<select id ='feature' class='btn btn-secondary dropdown no-arrow  '>
			</select>
			<a href="#" class="btn btn-success dropdown no-arrow " id='submit'>
				submit <i class="fas fa-check"></i>
			 </a>
		</div>
	</ul>
</nav>
-->
<div id="selectBoxArea"></div>
<div class="container-fluid mt-4">
	<div class="row">

		<div class="col-lg-9">

			<div id="accordion">
				<div class='row result_box'>
					<!-- ajax 시 사라질 카드 영역-->
					<div class="col-xl-12 col-lg-12">
						<div class="card shadow mb-4 rounded-0">
							<div class="card-header py-3 text-dark font-weight-bold h5">Data Preprocessing Graph Area
							</div>
							<div id="collapsedataAll" class="collapse show" data-parent="">
								<div class="card-body" style="height: 500px;">
								</div>
							</div>
						</div>
					</div>
					<!-- /ajax 시 사라질 카드 영역-->
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div id="chk_box2">
				<ul class="list-group">
					<li class="list-group-item rounded-0">
						<div class="form-check">
							<input class="form-check-input" type="checkBox" id="Duplication" checked />
							<label class="form-check-label" for="Duplication">Duplication</label>
						</div>
					</li>
					<li class="list-group-item rounded-0">
						<div class="form-check"><input class="form-check-input" type="checkBox" id="StaticF"
								checked /><label class="form-check-label" for="StaticF">StaticF</label></div>
					</li>
					<li class="list-group-item rounded-0">
						<div class="form-check rounded-0"><input class="form-check-input" type="checkBox" id="CertainO"
								checked />
							<label class="form-check-label" for="CertainO">CertainO</label>
						</div>
					</li>

					<li class="list-group-item rounded-0">
						<div class="row">
							<div class="col-lg-4">
								<div class="form-check">
									<input class="form-check-input" type="checkBox" id="UncertainO" checked /><label
										class="form-check-label" for="UncertainO">UnCertainO (%)</label>
								</div>
							</div>
							<div class="col-lg-4">
								<input type="text" placeholder="95" id="uncertain_Percentile"
									class="form-control bg-light border-0 small navbar-search">
							</div>
							<div class="col-lg-4">
								<select class='btn btn-secondary dropdown no-arrow rounded-0 form-control'
									id="uncertain_algorithm">
									<option value="IF">IF</option>
									<option value="KDE">KDE</option>
									<option value="LOF">LOF</option>
									<option value="MoG">MoG</option>
									<option value="SR">SR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="list-group-item rounded-0">
						<div class="row">
							<div class="col-lg-4">
								<div class="form-check">
									<input class="form-check-input" type="checkBox" id="Imputation" checked />
									<label class="form-check-label" for="Imputation">ImputationLimit(%)</label>
								</div>
							</div>
							<div class="col-lg-4"><input type="text" placeholder="80" id="imp_total_non"
									class="form-control bg-light border-0 small"></div>
							<div class="col-lg-4">
								<select class='btn btn-secondary dropdown no-arrow rounded-0 form-control'
									id="imp_method_type">
									<option value="KNN">KNN</option>
									<option value="MICE">MICE</option>
									<option value="most_frequent">most_frequent</option>
									<option value="mean">mean</option>
									<option value="median">median</option>
									<option value="constant">constant</option>
									<option value="bfill">bfill</option>
									<option value="ffill">ffill</option>
									<option value="linear">linear</option>
									<option value="time">time</option>
									<option value="nearest">nearest</option>
									<option value="zero">zero</option>
									<option value="slinear">slinear</option>
									<option value="quadratic">quadratic</option>
									<option value="cubic">cubic</option>
									<option value="barycentric">barycentric</option>
									<option value="polynomial">polynomial</option>
									<option value="spline">spline</option>

								</select>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="">
				<div class="card border-left-dark p-2 mt-3 rounded-0">
					<div class="card-body">
						<div class="text-dark font-weight-bold mb-4 ">NaN Data Result</div>
						<div id="dataAllResult"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div id="loading-prograss" class="loading-prograss" style="display:none;">
	<div class="spinner-border text-danger" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="prograss_title text-danger">Loading PreProcessing Data</div>
</div>
{% endblock %}
{% block script %}
<script src={{url_for('static', filename="js/custom_ui.js" )}}></script>
<script src={{url_for('static', filename="js/echarts.min.js" )}}></script>
<script src={{url_for('static', filename="js/echart_manipulation.js" )}}></script>
<script>
	//<!-- Button Select Code -->
	option_i = {
		"color": ['btn-outline-primary', 'btn-outline-success', 'btn-outline-danger', 'btn-outline-warning', 'btn-outline-info'],//, 'btn-outline-primary' ],
		"name": ['Duplication', 'StaticF', 'CertainO', 'UncertainO', 'Imputation'],//'ReUncertain', 'ReImputation'],
		'function_name': [['refine_param', 'removeDuplication'], ['refine_param', 'staticFrequency'],
		['outlier_param', 'certainErrorToNaN'], ['outlier_param', 'unCertainErrorToNaN'],
		['imputation_param', 'serialImputation']]
	}

	function checkKNN(method, process_param) {
		if (method == "KNN") {
			let pam = { 'n_neighbors': 3, 'weights': 'uniform', 'metric': 'nan_euclidean' };
			process_param.imputation_param.serialImputation.imputation_method[0]["parameter"] = pam;

		} else {
			process_param.imputation_param.serialImputation.imputation_method[0]["parameter"] = {}
		}

		return process_param;
	}

	$(function () {

		let boxArr = ['domain', 'measurement', 'feature'];
		const selectBoxes = makeSearchSelectBoxes(boxArr);

		$("#selectBoxArea").html(selectBoxes);

		/*option_i['name'].forEach(function(item,index){ 
			var button = $("<button></button>");
			button.addClass("p_option btn active btn-sm ");
			color = option_i['color'][index]
			button.addClass(color);
			name = option_i['name'][index]
			button.attr('id', name);
			button.attr('type', button);
			button.html(name)
			$('#i_option').append(button);
		})*/

		$('.p_option').click(function () {
			$(this).toggleClass('active');
			//console.log("button");

		});

		let select_1 = new Promise(function (resolve, reject) {

			let get_url = '/DataIngestion/db_list';

			$.get(get_url, function (d) {
				let result = JSON.parse(d);
				let data = result['result'];

				makeSelect(data, 'domain');

				resolve(data);
			})
		});


		select_1.then(function (result) {
			/*초기화*/
			let val1 = $('#domain').val();
			let get_url = '/DataIngestion/measurement_list/' + val1;

			return new Promise(function (resolve, reject) {

				let rs;
				$.ajax({
					url: get_url
					, type: 'get'
					, success: function (d) {
						let result2 = JSON.parse(d);
						let data = result2['result'];
						rs = { "dm": val1, "ms": data[0] };

					}
					, error: function (err) {
						console.log(err);
					}
					, complete: function (data) {
						makeSelect(data, 'measurement');

						rs = {};
						resolve(rs);
					}
				});

			});

		}).then(function (result) {

			let db_name = result["dm"];
			let ms_name = result["ms"];

			searchTagList(db_name, ms_name);

		}).then(function (result) {
			/* 태그 키 밸류 검색하기 */
			searchTagValue(result);

		}).catch((err) => {
			console.log("에러를 확인해 주세요 :: " + err);

		}).then(function () {

			let db_name = $("#domain").val();
			let ms_name = $("#measurement").val();
			let get_url = '/DataIngestion/featureList/' + db_name + '/' + ms_name;

			$.ajax({
				url: get_url
				, type: 'get'
				, success: function (e) {
					let result = JSON.parse(d);
					let data = result["result"];
				}
				, error: function (err) {
					console.log(err);
				}
				, complete: function (data) {
					makeSelect(data, 'feature');
				}
			});

		});


		$('#domain').on('change', function () {

			$("#tagKey").remove(); $("#tagValue").remove();

			let val1 = $('#domain').val();
			$('#db_name').html(val1);
			let get_url = '/DataIngestion/measurement_list/' + val1;

			$.get(get_url, function (d) {
				let result = JSON.parse(d);
				let data = result['result'];
				let feature2 = data;
				makeSelect(feature2, 'measurement', true, false);
				makeSelect([], 'feature', true, false);

			})
		});

		$('#measurement').on('change', function () {

			$("#tagKey").remove(); $("#tagValue").remove();

			let val1 = $('#domain').val();
			let val2 = $('#measurement').val();
			let firstTagKey = searchTagList(val1, val2);

			searchTagValue(firstTagKey);

			$('#selected_db_name').html(val1);
			$('#selected_ms_name').html(val2);
			let get_url = '/DataIngestion/featureList/' + val1 + '/' + val2;

			$.get(get_url, function (result) {
				result = JSON.parse(result);
				data = result['result'];
				var feature3 = data;

				let ClassTxt = 'btn btn-secondary dropdown no-arrow rounded-0 mr-1 ml-1';
				//makeTagSelectBoxHTML("#measurement", "feature", feature3, SetClass = true, ClassTxt = ClassTxt);
				makeSelect(feature3, 'feature');


			});

		});

		$('#feature').on('click', function () {
			selected_feature = $('#feature').val();
			$('#selected_feature_name').html(selected_feature);

		});

		//제출
		$('#submit').click(function () {

			let val1 = $('#domain').val();
			let val2 = $('#measurement').val();
			let val3 = $('#feature').val();
			let tag_key = $("#tagKey").val();
			let tag_value = $("#tagValue").val();

			if (tag_key == undefined) tag_key = "None";
			if (tag_value == undefined) tag_value = "None";

			if (val1 == '선택') {
				alert("대분류를 선택해 주세요.");
				return;
			}
			if (val2 == '선택') {
				alert("중분류를 선택해 주세요.");
				return;
			}
			if (val3 == '선택') {
				alert("소분류를 선택해 주세요.");
				return;
			}

			//imputation 관련 변경
			let imp_method = $("select[id=imp_method_type]>option:selected").attr("value");
			process_param.imputation_param.serialImputation.imputation_method[0].method = imp_method;
			process_param = checkKNN(imp_method, process_param);

			let imp_total_non = $("input[id=imp_total_non]").val();
			if (imp_total_non !== "") {
				imp_total_non = parseInt(imp_total_non);
				process_param.imputation_param.serialImputation.totalNonNanRatio = imp_total_non;

			}
			//UncertainO 관련 변경

			let uncertain_Percentile = $("input[id=uncertain_Percentile]").val();
			if (uncertain_Percentile !== '') {
				// process_param.outlier_param.unCertainErrorToNaN.param.neighbor = 0.5;			
				process_param.outlier_param.unCertainErrorToNaN.param.outlierDetectorConfig.percentile = parseFloat(uncertain_Percentile);
			}

			process_param.outlier_param.unCertainErrorToNaN.param.outlierDetectorConfig.algorithm = $("#uncertain_algorithm>option:selected").attr("value");
			/*[ 'IF', 'KDE', 'LOF', 'MoG', 'SR']*/

			option_i['name'].forEach(function (item, index) {
				function_name = option_i['function_name'][index];
				//if ($('#'+item).hasClass('active')){
				if ($("#" + item).is(":checked")) {
					process_param[function_name[0]][function_name[1]]['flag'] = true;
				} else {
					process_param[function_name[0]][function_name[1]]['flag'] = false;
				}

			});

			param = JSON.stringify({
				"db_name": val1
				, "ms_name": val2
				, "feature_name": val3
				, "data_num": "2000"
				, "process_param": process_param
				, "tag_key": tag_key
				, "tag_value": tag_value
			});
			URL = '/DataPreprocessing/getAllResultData';

			drawOneEchartData(URL, param, ".result_box");

		});

	});



	function collapseAll() {

		$('a[data-toggle="collapse"]').on('click', function () {
			let objectID = $(this).attr('href');

			if ($(objectID).hasClass('in')) {
				$(objectID).collapse('hide');
			} else {
				$(objectID).collapse('show');
			}
		});


		$('#expandAll').on('click', function () {

			$('a[data-toggle="collapse"]').each(function () {
				let objectID = $(this).attr('href');
				if ($(objectID).hasClass('in') === false) {
					$(objectID).collapse('show');
				}
			});
		});

		$('#collapseAll').on('click', function () {

			$('a[data-toggle="collapse"]').each(function () {
				let objectID = $(this).attr('href');
				$(objectID).collapse('hide');
			});
		});
	}

	var refine_param = { "removeDuplication": { "flag": true }, "staticFrequency": { "flag": true, "frequency": null } }
	var outlier_param = {
		"certainErrorToNaN": { "flag": true },
		"unCertainErrorToNaN": {
			"flag": true,
			"param": {
				'outlierDetectorConfig': [
					{ 'algorithm': 'IF', 'percentile': 95, 'alg_parameter:': {} }
				]
			}
		}
	}
	var imputation_param = { "serialImputation": { "flag": true, "imputation_method": [{ "min": 0, "max": 2000, "method": "linear", "parameter": {} }], "totalNonNanRatio": 80 } }
	var process_param = { 'refine_param': refine_param, 'outlier_param': outlier_param, 'imputation_param': imputation_param }


	function drawCardBox(box_id) {
		let header = $('<div></div>').addClass("card-header py-3 d-flex flex-row align-items-center justify-content-between") //card Head

		//header.html(box_id+' result')
		header.html('<a class="text-dark btn btn-link" data-toggle="collapse" data-target="#collapse' + box_id + '" aria-expanded="true" aria-controls="collapse' + box_id + '">' + box_id + ' result</a>')

		let nan_title, nan_count;
		if (box_id !== 'dataAll') {
			nan_title = $('<div></div>').html("NaN: ");
		} else {
			nan_title = $('<div></div>')
		}

		nan_count = $('<code></code>').attr('id', box_id + '_nanCount');
		nan_title.append(nan_count);
		header.append(nan_title);


		let pic = $('<div></div>').attr('style', "width: 100%; height:500px").attr('id', box_id);
		//var body = $('<div ></div>').addClass('card-body').append(pic); //card Body
		let bodyWr = $('<div id="collapse' + box_id + '" class="collapse show"  data-parent=""></div>')
		let body = $('<div class="card-body"></div>').append(pic); //card Body
		bodyWr.append(body)

		let temp = $('<div></div>').addClass("card shadow mb-4 rounded-0");
		let result_box = $('<div></div>').addClass("col-xl-12 col-lg-12");

		temp.append(header)
		temp.append(bodyWr)
		result_box.append(temp)


		return result_box;
	}


</script>

{% endblock %}