{% extends '/layout.html' %} 
{% block content %}
<link href={{url_for('static', filename="css/dataselection.css")}} rel="stylesheet">
<link href={{url_for('static', filename="css/index.css")}} rel="stylesheet">
<div class="loader">
    
</div>
<div class="container-fluid">
    <div class="row">
      <!-- <div class="rectangle top_rectangle ">Domain</div>
      <div class="rectangle top_rectangle sub ">Sub Domain</div> -->
      <br>
    </div>
    <!-- ALL DOMAIN -->
    <div class="card" id="all_domain">
    </div>
</div>
{% endblock %}
{% block script %}
<script src={{url_for('static', filename="js/custom_ui.js")}}></script> 
<script>
$( document ).ready(function() {
  $('.container-fluid').hide()
  $('.graph').height($( window ).height()*(6/7) )
  get_data();
});


function make_domain(domain,color){
  d = document.createElement('div');
  $(d).addClass("rectangle").addClass("large_rectangle").addClass("col-xl-1 col-lg-12 col-md-12 col-12");
  style_result = get_db_style(domain.toLowerCase())
  //console.log(style_result.color_style)
  // $(d).addClass("rectangle").addClass(style_result.color_style)
  $(d).addClass("rectangle")
  $(d).css("background",color)
  var i_tag = $('<i></i>')
	$(i_tag).addClass('ml-1 fas '+style_result.icon_style)
  $(d).html(domain)
  $(d).append(i_tag)
  return $(d)
}

function make_sub_domain_one_line(domain,sub_keys,sub_info){
  sub_domains = Object.keys(sub_info)
  d = document.createElement('div');
  $(d).addClass("col-xl-10 col-lg-12 col-md-12 col-12");
  
  for(i in sub_keys){
   // if(i>=3) break;
    sub_domain = sub_keys[i]
    $(d).append(make_sub_domain(sub_domain,sub_info[sub_domain]))
    $(d).append(make_popup(domain,sub_domain,sub_info[sub_domain]))
  }

  return $(d)
}
const popup_icon_pre = '<div class="col-auto btn-sm fa-lg btn-circle btn-info cd-popup-trigger" '
const popup_icon_tail = '><i class="fas fa-plus"></i></div>'

function make_sub_domain(sub_domain,sub_ms){
  sub_info = document.createElement('div')
  $(sub_info).addClass("rectangle").addClass("small_rectangle")
  
  sub_each_row = document.createElement('div')
  $(sub_each_row).addClass('row').addClass('no-gutters').addClass('align-items-center')

  sub_name = document.createElement('div')
  $(sub_name).addClass('col').addClass('mr-2 ')

  sub_real_name = document.createElement('div')
  $(sub_real_name).addClass("font-weight-bold").addClass('mb-1').addClass("sub_real_name")
  first_hype = sub_domain.indexOf('_')+1
  $(sub_real_name).html(sub_domain.substring(first_hype))
  $(sub_name).append(sub_real_name)
  sub_ms_cnt = document.createElement("div")
  $(sub_ms_cnt).addClass("mb-0").addClass("font-weight-bold").addClass("sub_ms_cnt") //.addClass("text-gray-800")
  $(sub_ms_cnt).html(sub_ms.length+" measurements")
  $(sub_name).append(sub_ms_cnt)

  $(sub_each_row).append(sub_name)
  popup_icon = popup_icon_pre + 'value="' + sub_domain +'_pop"' + popup_icon_tail
  $(sub_each_row).append(popup_icon)
  $(sub_info).append(sub_each_row)
  return $(sub_info)
}

const close_btn = '<a href="#0" class="cd-popup-close img-replace">Close</a>'

function make_popup(domain,sub_domain,sub_ms){
  
  popup = document.createElement('div');
  $(popup).addClass("cd-popup").attr('role','alert').attr('id',sub_domain+"_pop")

  container = document.createElement('div')
  $(container).addClass("cd-popup-container")
  $(container).append("<p>Measurement List</p>")
  
  ul = "<ul class='list-group list-group-flush'>"
    
  for(var ms in sub_ms){
    ul = ul + '<li class="list-group-item">';

    ul  +=  ' <a href="'+"http://"+document.domain+":"+location.port+'/DataVisualization/recentDataForVisualByDBMSDays/'+sub_domain+'/'+sub_ms[ms]+'/None/None/1000'+'">'+sub_ms[ms]+"</a></li>"
  }
  ul = ul +"</ul>"

  $(container).append(ul)
  $(container).append(close_btn)
  $(popup).append(container)

  return $(popup)

}

const color_list = [
  "Khaki", "LightBlue", "LightCoral", "LightSteelBlue","LightPink", "LightSalmon",
  "IndianRed", "SlateGray","DeepPink", "DeepSkyBlue", "LightSkyBlue","Indigo","lightpink","LightGray" ]

function print_blocks(db_ms_data){
  //console.log(db_ms_data);
  domains = Object.keys(db_ms_data)
  
  for(i in domains){
    color = color_list[i%(color_list.length)]
    d = document.createElement('div');
    var each_domain = $(d).addClass("db_section").addClass("card_body").addClass("row")
    domain = domains[i]
    each_domain.append(make_domain(domain,color))
    start_index = 0
    all_subs = Object.keys(db_ms_data[domain])
    
    //var cardWrapper = document.createElement('div');
   // $(cardWrapper).addClass("col-xl-11 col-lg-12 col-md-12 col-12");
    
    /*while(start_index < all_subs.length){
      //part = all_subs.slice(start_index,start_index+3)
      part = all_subs;
      start_index = start_index + 3
      each_domain.append(make_sub_domain_one_line(domain,part,db_ms_data[domain]))
    }*/

    each_domain.append(make_sub_domain_one_line(domain,all_subs,db_ms_data[domain]))
    
    //$(each_domain).append(cardWrapper);
    $("#all_domain").append(each_domain);
    $("#all_domain").append("<hr>")
  }
}

function make_sub_domain_blocks(){
  
}

function get_data(){
  var responseJson;
  get_url = '/DataIngestion/allDBMSSetInfoByDictType'
  $.ajax({
    type : 'GET',
    url : get_url,
    error : function(error) {
    },
    success : function(data) {
        console.log("success")
    },
    complete : function(result) {

       
        responseJson = result.responseJSON;
        responseJson  = JSON.parse(responseJson).result;
        $('.loader').hide()
        print_blocks(responseJson);
        $('.container-fluid').show()   
        

        // POPUP
        // open popup
        $('.cd-popup-trigger').on('click', function(event){
          event.preventDefault();
          $("#"+$(this).attr('value')).addClass('is-visible');
        });
        
        // close popup
        $('.cd-popup').on('click', function(event){
          if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
            event.preventDefault();
            $(this).removeClass('is-visible');
          }
        });
        // close popup when clicking the esc keyboard button
        $(document).keyup(function(event){
          if(event.which=='27'){
            $('.cd-popup').removeClass('is-visible');
          }
        });
    }
  });
  return responseJson
}

/*
      <!-- EACH DOMAIN -->
      <div class="db_section card_body row" >
          <!-- DOMAIN -->
          <div class="rectangle large_rectangle ">air</div>
          <!-- DOMAIN END -->
          <!-- SUBDOMAIN ONE LINE -->
          <div >
          
            <!-- EACH SUBDOMAIN -->
            <!-- EACH SUBDOMAIN INFO -->
            <div class=" rectangle small_rectangle">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="font-weight-bold mb-1">
                      indoor_경로당</div>
                    <div class=" mb-0 font-weight-bold text-gray-800">100 measurements</div>
                </div>
                <div class="col-auto btn-sm fa-lg btn-circle btn-info cd-popup-trigger" value="first">
                    <i class="fas fa-plus "></i>
                </div>
              </div>
            </div>
            <!-- EACH SUBDOMAIN INFO END -->
            <!-- EACH SUBDOMAIN POPUP -->
            <div class="cd-popup" id="first" role="alert">
              <div class="cd-popup-container">
                <p>Measurement List</p>
                <ul>
                  <li><a>ICL0001</a></li>
                  <li>ICL0002</li>
                  <li>ICL0003</li>
                  <li>ICL0004</li>
                  <li>ICL0001</li>
                  <li>ICL0002</li>
                  <li>ICL0003</li>
                  <li>ICL0004</li>
                </ul>
                
                <a href="#0" class="cd-popup-close img-replace">Close</a>
              </div> 
            </div> 
            <!-- EACH SUBDOMAIN POPUP END-->
            <!-- EACH SUBDOMAIN END -->
          </div>
          <!-- SUBDOMAIN ONE LINE END -->
      </div>
      <!-- EACH DOMAIN END -->
*/
</script>
{% endblock %}