{% extends 'layout.html' %}
{% block content%}
<link href={{url_for('static', filename="css/visualization.css" )}} rel="stylesheet">

<!-- Begin Page Content -->
<div id="selectBoxArea" class="mb-4"></div>
<div class="container-fluid">
	<!-- Page Heading 
	<div class="row">
		<div class="col-lg-8">
			<button type="button" class="btn btn-warning 1st_info">time</button>
			<button type="button" class="btn btn-warning 1st_info">corr</button>
		
			<button type="button" class="btn btn-info 2nd_info">box</button>
			<button type="button" class="btn btn-info 2nd_info">NaN</button>
			<button type="button" class="btn btn-info 2nd_info">duration</button>
		</div>
		
		<div class="btn-group" role="group" aria-label="Third group">
			<button type='button' class='btn btn-secondary' id='scaler'>No Scale</button>
		</div>
		
	</div>
	-->
	<!-- Content Row -->
	<div class="row">
		<!-- Content Column -->
		<div class="col-xl-8 col-lg-7">
			<div class="mb-2 clearfix">
				<button type="button" class="btn btn-warning 1st_info float-right rounded-0">time</button>
				<button type="button" class="btn btn-warning 1st_info float-right rounded-0">corr</button>


			</div>
			<!-- Project Card Example -->

			<div class="card shadow rounded-0 mb-4">
				<div class="card-header ">
					<h5 class='text-dark font-weight-bold'>Measurment Name: {{mm_name}} </h5>
					<h6 class="text-dark">DB Name: {{db_name}} </h6>
				</div>
				<div class="card-body">
					<div class="container">
						<div class="card-body" id='time'>
							<div id="plot_div">
							</div>
						</div>
						<div class="card-body" id='corr'>
							<div id="corr_div">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-mb-4">
			<div class="mb-2 clearfix">
				<button type="button" class="btn btn-info 2nd_info float-right rounded-0">box</button>
				<button type="button" class="btn btn-info 2nd_info float-right rounded-0">NaN</button>
				<button type="button" class="btn btn-info 2nd_info float-right rounded-0">duration</button>
				<button type='button' class='btn btn-secondary float-right rounded-0' id='scaler'>No Scale</button>
			</div>
			<!-- Project Card Example -->

			<div class="card shadow rounded-0 mb-4">
				<div class="card-body" id='box'>
					<h5 class='font-weight-bold'>Box Plot:</h5>
					<hr class="sidebar-divider">
					<div id="box_plot_graph">
					</div>
				</div>
				<div class="card-body" id='NaN'>
					<h5 class='font-weight-bold'>NaN Number:</h5>
					<hr class="sidebar-divider">
					<div id="nan_count">
					</div>
				</div>
				<div class="card-body" id='duration'>
					<h5 class='font-weight-bold'>Duration</h5>
					<hr class="sidebar-divider">
					<div id="duration_div">
						<h6>Stored data interval: </h6>
						<hr class="sidebar-divider">
						<h6>from <code id="first_time"></code> </h6>
						<div>to <code id="last_time"></code> </div>
						<hr class="sidebar-divider">
						<h6>Presented data interval:</h6>
						<h6>from <code id='first_presented_time'></code> </h6>
						<div>to <code id='last_presented_time'></code> </div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}
{% block script %}
<script src={{url_for('static', filename="js/custom_ui.js" )}}></script>
<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/danfojs@0.2.3/lib/bundle.min.js"></script>
<script>

	var result = {{ result| tojson | safe}};
	let json_data = result['data'];
	let data_index = result['data_index'];
	let json_data_scaled = result['data_scaled'];
	let corr_matrix = result['corr_matrix'];

	let db_name = "{{db_name}}";
	let mm_name = "{{mm_name}}";
	let tag_key = "{{tag_key}}";
	let tag_value = "{{tag_value}}";
	var days = {{ days| int}};

	let info1 = ['#time', '#corr'];
	let info2 = ['#box', '#NaN', '#duration'];

	$(document).ready(function () {

		let selectBoxes = '';
		selectBoxes = makeSelectBoxesWithBar('domain', 'measurement', 'feature', false);

		$("#selectBoxArea").html(selectBoxes);

		/* 1. Set DB/MS Start~End Time*/
		//<!-- Button Select Code -->

		function selectBoxPromise() {
			/*
				@how to use : 상단 셀렉트박스 세팅 프로미스
			*/
			return new Promise((resolve, reject) => {

				const get_url = '/DataIngestion/db_list';
				$.get(get_url, function (result) {
					result = JSON.parse(result);
					data = result['result'];

					let feature1 = data;
					makeSelect(feature1, 'domain', true, true);

					//const feature3 = [7, 30, 90, 50000];
					//makeSelect(feature3, '#feature');

					resolve();
				})
			})
		}


		selectBoxPromise().then(value => {
			const get_url = '/DataIngestion/measurement_list/' + db_name;

			$.get(get_url, function (result) {
				result = JSON.parse(result);
				data = result['result'];
				let feature2 = data;
				makeSelect(feature2, 'measurement', true, false);

				//const feature3 = [7, 30, 90, 50000];
				//makeSelect(feature3, '#feature');

				$("#measurement").val(mm_name);
				$("#feature").val(days);
				$("#demo").html(days);

			})

		}).then(() => {
			//tagKey값이 있으면 목록 가져오기

			if (db_name !== undefined && mm_name !== undefined) {
				let classTxt = 'btn btn-secondary form-control dropdown no-arrow rounded-0 mr-1';
				searchTagList(db_name, mm_name, tag_key, classTxt);
			}

		}).then(() => {

			//tagValue값이 있으면 목록 가져오기
			if (tag_key !== undefined) {
				let classTxt = 'btn btn-secondary form-control dropdown no-arrow rounded-0 mr-1';
				searchTagValue(db_name, mm_name, tag_key, tag_value, classTxt);

			}


		})



		$('#domain').on('change', function () {
			$("#tagKey").remove(); $("#tagValue").remove();

			const get_url = '/DataIngestion/measurement_list/' + this.value;

			$.get(get_url, function (result) {
				result = JSON.parse(result);
				data = result['result'];

				const feature2 = data;
				makeSelect(feature2, 'measurement', true, false);

			});
		});


		$('#measurement').on('change', function (e) {
			/* 
				Measurement 셀렉트박스 변경 시, 
				tagList 유무 체크
			*/
			$("#tagKey").remove(); $("#tagValue").remove();

			const url = '/DataIngestion/tagList';
			let db_name = $("#domain").val();
			let ms_name = $(e.target).val();

			if (ms_name == '선택') {
				alert("Measurement를 선택해 주세요.");
				return;
			}

			let params = { db_name: db_name, ms_name: ms_name };

			$.ajax({
				method: 'post'
				, url: url
				, data: JSON.stringify(params)
				, dataType: 'json'
				, contentType: "application/json"
				, success: function (d) {
					console.log(d)
					let result = JSON.parse(d);
					result = result["result"];

					if (result.length != 0) {
						makeTagSelectBoxHTML("#measurement", "tagKey", result);
						makeSelect(result, 'tagKey', true, false);
						$("#tagKey").on('change', function (e) {
							selectTagValue(e);
						});
					}
				}
				, error: function (e) {
					console.log("error occured :: " + e);
				}

			});



		})

		//slider
		let slider = document.getElementById("feature");
		let output = document.getElementById("demo");
		output.innerHTML = slider.value;

		slider.oninput = function () {
			output.innerHTML = this.value;
		}

		$('#submit').click(function () {
			const db_name = $('#domain').val();
			const ms_name = $('#measurement').val();
			const days = $('#feature').val();
			let tag_key = $('#tagKey').val();
			let tag_value = $('#tagValue').val();

			if (db_name == '선택' || ms_name == '선택' || days == '선택' || tag_key == '선택' || tag_value == '선택') {
				alert("상단 데이터를 선택해 주세요.");
				return;
			}

			if (tag_key == undefined) tag_key = "None";
			if (tag_value == undefined) tag_value = "None";

			let param = db_name + '/' + ms_name + '/' + tag_key + '/' + tag_value + '/' + days;

			window.location.href = '/DataVisualization/recentDataForVisualByDBMSDays/' + param

		});

		//<!-- Scale Button -->
		$('#scaler').click(function () {
			let scaler = $('#scaler');
			scaler_value = scaler.html()
			//console.log(scaler_value)
			if (scaler_value == 'Scale') {
				scaler.html('No Scale');
				default_div_make(json_data, data_index, corr_matrix);
			} else {
				scaler.html('Scale');
				default_div_make(json_data_scaled, data_index, corr_matrix);
			}
		})

		//<!-- 1st and 2nd info -->
		$('.1st_info').click(function () {
			clicked_value = $(this).html()
			console.log(clicked_value)
			all_id_hide(info1)
			$('#' + clicked_value).show()
		})
		$('.2nd_info').click(function () {
			clicked_value = $(this).html()
			console.log(clicked_value)
			all_id_hide(info2)
			$('#' + clicked_value).show()
		})

		default_div_make(json_data, data_index, corr_matrix);
		all_id_hide(info2);
		all_id_hide(info1);
		//console.log(data_index[0]);
		$('#first_presented_time').html(data_index[0]);
		$('#last_presented_time').html(data_index[data_index.length - 1]);
		$(info1[0]).show();
		$(info2[0]).show();

		/* 1. Set DB/MS Start~End Time*/
		const parameter = {};
		const ajax_method = "get";
		let urlAddress = "/DataIngestion/startTime/" + db_name + '/' + mm_name;
		setValueDataInIDByAjax(urlAddress, parameter, ajax_method, "#first_time", "result");
		urlAddress = "/DataIngestion/lastTime/" + db_name + '/' + mm_name;
		setValueDataInIDByAjax(urlAddress, parameter, ajax_method, "#last_time", 'result');


	})

	function selectTagValue(e) {
		/*
		TagKey 선택 시, TagValue selectBox만드는 함수
		*/
		let $this = $(e.target).val();
		//console.log($this);

		let url = '/DataIngestion/distinctTagValue';
		let params = {
			db_name: $("#domain").val()
			, ms_name: $("#measurement").val()
			, tag_key: $this
		};

		$.ajax({
			method: 'post'
			, url: url
			, data: JSON.stringify(params)
			, dataType: 'json'
			, success: function (d) {

				let result = JSON.parse(d);
				result = result["result"];

				if (result.length != 0) {
					makeTagSelectBoxHTML("#tagKey", "tagValue", result); //#measurement 옆에 만듦
					makeSelect(result, 'tagValue', true, false);

				}
			}
		});
	}
	function complete_function(IDName) {
		$('#' + IDName).html(data);
	}


	function default_div_make(default_data, data_index, corr_data) {
		var colorscaleValue = [
			['0.0', 'rgb(165,0,38)'],
			['0.111111111111', 'rgb(215,48,39)'],
			['0.222222222222', 'rgb(244,109,67)'],
			['0.333333333333', 'rgb(253,174,97)'],
			['0.444444444444', 'rgb(254,224,144)'],
			['0.555555555556', 'rgb(224,243,248)'],
			['0.666666666667', 'rgb(171,217,233)'],
			['0.777777777778', 'rgb(116,173,209)'],
			['0.888888888889', 'rgb(69,117,180)'],
			['1.0', 'rgb(49,54,149)']
		];

		make_nan_count_tag(default_data)
		df = new dfd.DataFrame(default_data, { index: data_index })
		df.plot("plot_div").line()
		make_box_plot_data(default_data, 'box_plot_graph')
		var corr_data = [
			{
				z: corr_matrix,
				x: Object.keys(default_data),
				y: Object.keys(default_data),
				type: 'heatmap',
				colorscale: colorscaleValue,
				hoverongaps: true
			}
		];
		Plotly.newPlot('corr_div', corr_data);
	}

	function make_box_plot_data(data, id) {
		const dataset = []
		for (value in data) {
			trace = {
				y: data[value],
				type: 'box',
				name: value
			}
			dataset.push(trace)
		}
		Plotly.newPlot(id, dataset);
	}

	function make_nan_count_tag(data) {
		//console.log(data)
		$('#nan_count').empty()
		for (value in data) {
			nan_count = data[value].filter(function (it) {
				return isNaN(it);
			}).length
			var nan_count_tag = $('<div></div>')
			$(nan_count_tag).html(value + ' : ' + nan_count)
			$(nan_count_tag).addClass('text-white-10 small')
			$('#nan_count').append(nan_count_tag)
		}
	}

	function all_id_hide(info) {

		info.forEach(function (item) {
			$(item).css("display", "hidden")
			$(item).hide()
			//console.log(item)
		}
		)
	}



</script>




{% endblock %}