{% extends 'layout.html' %} 
{% block content %}
<!--json_data_list "DataBase_Name", "Measurement_Name", "Data_Length", "Start_time", "End_time"-->
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
  
      <!-- Content Column -->
      <div class="col-lg-12 mb-12">
  
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Table</h6>
          </div>
          <div class="card-body">
           <table id="json_table" class="display" style="width:100%">
              <thead>
                  <tr>
                      <th>DataBase Name</th>
                      <th>Measurement Name</th>
                      <th>Start time</th>
                      <th>End time</th>
                      <th>Frequency</th>
                      <th>Number of Columns</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <th>DataBase Name</th>
                      <th>Measurement Name</th>
                      <th>Start time</th>
                      <th>End time</th>
                      <th>Frequency</th>
                      <th>Number of Columns</th>
                  </tr>
              </tfoot>
          </table>
    
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block script %}
  
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
  

  json_data = JSON.parse({{json_data_list|tojson}})
  console.log(json_data)
  $(document).ready(function() {
      $('#json_table').DataTable( {
          data:json_data,
          columns: [
              { data: 'db_name' },
              { data: 'measurement_name' },
              { data: 'start_time' },
              { data: 'end_time' },
              { data: 'frequency' },
              { data: 'number_of_columns' }
          ]
      } );
 
      $('#json_table tbody').on( 'click', 'tr', function () {
        var tableData = tables.table( $(this).parents('table') );
      } );
  } );
  
  
  
  </script>
  <!-- /.container-fluid -->
  <!--위에 click function 다시 해보기-->
{% endblock %}
