{% extends 'layout.html' %}
{% block content%}
<link href={{url_for('static', filename="css/exploration.css" )}} rel="stylesheet">

<!--start container fluid-->
<div class="container-fluid">
	<div class='row mt-4'>
		<div class="col-xl-10 col-lg-10">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h3 class="font-weight-bold text-gray-900">Cycle Data Clustring Setting</h3>
				</div>
				<!--start card body-->
				<div class="card-body">
					<div class="card-body-inn domain_div">
						<div class='mb-4'>
							<span class="font-weight-bold text-primary text-lg">Cycle Information</span>
						</div>
						<div class='mb-2'>
							<select id='dataDomain'
								class='form-control btn btn-deep-navy dropdown no-arrow cycleSelectBox rounded-0 '></select>
							<select id='dataMeasurement'
								class='form-control btn btn-deep-navy dropdown no-arrow cycleSelectBox rounded-0'></select>
						</div>
						<div class='mb-1 roundBox'>
							<div class="row">
								<div class='mb-3 rountTitle'>
									<span class="text-gray-900">· Time Duration</span>
								</div>
								<div class=''>
									<div class='box_form mb-3'>
										<input type="date" id='startTime'
											class='form-control btn btn-deep-navy dropdown no-arrow box_input rounded-0'
											onchange="setDuration();" />
										&nbsp;-&nbsp;
										<input type="date" id='endTime'
											class='form-control btn btn-deep-navy dropdown no-arrow box_input rounded-0'
											onchange="setDuration();" />
									</div>

									<div class='box_form mb-3'>
										<span>(</span>
										<input type="text" class='form-control btn btn-secondary rounded-0'
											id="duration">
										<span>days, frequency :</span>
										<input type="text" disabled id='o_frequency' value=""
											class='form-control btn btn-secondary box_input rounded-0' />
									</div>
									<span>)</span>
								</div>
							</div>
							<div class="row">
								<div class="mb-3 rountTitle">
									<span class="text-gray-900">· Cycle Unit </span>
								</div>
								<div class="box_form mb-3">
									<select name="dataCycle" id='dataCycle'
										class='form-control btn btn-deep-navy dropdown no-arrow box_input rounded-0'>
										<option value="Hour">Hour</option>
										<option value="Day" selected>Day</option>
										<option value="Week">Week</option>
										<option value="Month">Month</option>
										<option value="Year">Year</option>
									</select>
								</div>
								<div class="mb-3 rountTitle">
								</div>

							</div>

							<div class="row">

								<div class="mb-3 rountTitle">
									<span class="text-gray-900">· Cycle Times</span>
								</div>
								<div class="box_form mb-3">
									<input type="number" id='cycleTimes' value=1
										class='form-control btn btn-deep-navy dropdown no-arrow  box_input rounded-0' />
								</div>
							</div>

						</div>
					</div>

					<div class="card-body-inn cluster_div">
						<div style="border-top: 1px solid rgb(204, 204, 204);"></div>
						<div class='mt-4 mb-4'>
							<span class=" font-weight-bold text-primary text-lg">Clustering Parameter</span>
						</div>

						<div class="roundBox">
							<div class='row mb-3'>
								<div class="  text-gray-900 rountTitle"><span>· NaN Check</span></div>
								<div class="  ">
									<div class="box_block">
										<div class="box_subject">
											Consecutive
										</div>
										<div class="box_form">
											<input type="number" id='consecutiveNanLimit' value=1
												class='form-control btn btn-miranda dropdown no-arrow box_input rounded-0' />
										</div>
									</div>
									<div class="box_block">
										<div class="box_subject">
											Total
										</div>
										<div class="box_form">
											<input type="number" id='totalNaNLimit' value=10
												class='form-control btn btn-miranda dropdown no-arrow  box_input rounded-0' />
										</div>
									</div>
								</div>
							</div>
							<div class='row'>
								<div class=" text-gray-900 rountTitle"><span>· Target</span></div>
								<div class=" mb-3">
									<div class="box_block">
										<div class="box_subject">feature</div>
										<div class="box_form">
											<select id='target'
												class='form-control btn btn-miranda dropdown no-arrow  box_select rounded-0'></select>
										</div>
									</div>
									<div class="box_block">
										<div class="box_subject">frequency(min)</div>
										<div class="box_form">
											<input type="number" id='frequency' value=60
												class='form-control btn btn-miranda dropdown no-arrow box_input rounded-0' />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class='submitBox mb-4'>
							<a href="#" class="btn btn-lg rounded-0" id='start_cluster'>
								submit&nbsp;<i class="fa fa-check" aria-hidden="true" id="start_btn"></i>
							</a>
						</div>
					</div>
				</div>
				<!--//end card body-->
			</div>

		</div>

	</div>

	<!--start graph result area-->
	<div id="ms_list_cnt" class="text-gray-900 p-2 mt-4"></div>
	<div class='row mt-1 graph_result_area'>
		<div class="col-xl-10 col-lg-10">
			<div class="card shadow mb-4">
				<div class="card-body">
					<div id="ms_graph_list">
						<table class="tg">
							<tbody>
								<tr>
									<td class="tg-0lax" id="canvas_0"></td>
									<td class="tg-0lax" id="canvas_1"></td>
									<td class="tg-0lax" id="canvas_2"></td>
									<td class="tg-0lax" id="canvas_3"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//end greph result area-->

	<div class='row mb-5'>
		<div class="col-xl-10 col-lg-10">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h3 class="font-weight-bold text-gray-900">Clustring result based on cycle data witin a specific
						data</h3>
				</div>
				<div class="card-body" id="result_area">
					<div class='row mb-5'>
						<!--start first block-->
						<div class="col-xl-6 col-lg-10">
							<div class="d-sm-flex align-items-center justify-content-between mb-4">
								<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
									<div class="btn-group mr-2" role="group" aria-label="First group" id="clustering">
										<button type="button" class="btn cluster_info" id="pattern">pattern</button>
										<button type="button" class="btn cluster_info" id="count">count</button>
									</div>
								</div>
							</div>
							<div id="result_contents1" class="mt-4 mb-4">
								<div class="result col">
									<canvas id="cluster_count" class="cluster_bar"></canvas>
									<img class="fit-picture" src="" id="cluster_pattern" alt="cluster pattern">
								</div>

							</div>
						</div>
						<!--//end second block-->
						<!--start second block-->
						<div class="col-xl-4 col-lg-10">
							<span style="color: #505050; font-size: 1.2em;">Result Table</span>
							<div id="result_contents2" class="mt-4">
								<div id="result_table" class="table-responsive">
									<table class="table table-bordered tg" id="cluster_table">
										<thead class="" style="background: #494949; color: white;">
											<tr>
												<th class="tg-ujoh">Table Name</th>
												<th class="tg-ujoh">Cluster Number</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="2"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!--//end second block-->
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!--//end container fluid-->
<div id="loading-prograss" class="loading-prograss" style="display:none;">
	<div class="spinner-border text-danger" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="text-danger">Loading Data</div>
</div>

{% endblock %}
{% block script %}

<script src={{url_for('static', filename="js/Chart.js" )}}></script>
<script src={{url_for('static', filename="js/custom_ui.js" )}}></script>
<script type="text/javascript" charset="utf8">
	// ===== const =====
	const width_ratio = 3 / 14
	const canvas_cnt = 4
	const START_BTN = "fa-check"
	const RETURN_BTN = "fa-reply"
	const MS_LSIT_URL = '/DataIngestion/measurement_list'
	const CLUSTERING_URL = '/DataCycleExploration/clustering'
	const ONE_TABLE_URL = '/DataCycleExploration/preprocessing'
	const GET_DB_LIST = '/DataIngestion/db_list'
	const CYCLE_INDEX_URL = '/DataIngestion/cycleIndexList'
	// ===== const end =====

	// ===== for graph =====
	var labels = ['0', '1', '2', '3', '4', '5', '6'];
	var data = {
		labels: labels,
		datasets: [{
			label: 'Line Graph',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: [],
		}]
	};
	var config = {
		type: 'line',
		data: data,
		options: {}
	};

	var bar_data = {
		labels: ['1', '2', '3', '4', '5', '6',],
		datasets: [{
			label: 'The Number of tables on cluster',
			data: [65, 59, 80, 81, 56, 55, 40],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(255, 159, 64, 0.2)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				'rgba(201, 203, 207, 0.2)'
			],
			borderColor: [
				'rgb(255, 99, 132)',
				'rgb(255, 159, 64)',
				'rgb(255, 205, 86)',
				'rgb(75, 192, 192)',
				'rgb(54, 162, 235)',
				'rgb(153, 102, 255)',
				'rgb(201, 203, 207)'
			],
			borderWidth: 1
		}]
	};
	var bar_config = {
		type: 'bar',
		data: bar_data,
		options: { responsive: true, scales: { yAxes: [{ display: true, ticks: { suggestedMin: 0, beginAtZero: true } }] } },
	};
	// ===== for graph end =====

	// ===== variable =====
	var selectedDB = '';
	var selectedMS = '';
	var cnt = 0;
	var cluster_res_mode = 0; // 0 = count, 1 = pattern
	var is_processing = false; // Indicates whether processing is currently in progress or not.
	var myBarChart;
	var duration_day
	var ms_list
	var width;
	// ===== variable end =====

	$(document).ready(function () {

		$.get(GET_DB_LIST, function (result) {
			result = JSON.parse(result)
			db_list = result['result']
			makeSelect(db_list, 'dataDomain');
		});

		$('#dataDomain').on('change', function () {
			/*
			Domain 셀렉트 박스 변경 시 실행되는 함수
			*/
			$("#tagKey").remove(); $("#tagValue").remove();
			selectedDB = this.value;
			if (selectedDB == '선택') return;

			get_url5 = '/DataIngestion/measurement_list/' + selectedDB;
			let text = getValueDataByAjax(get_url5, {}, "get", "result");
			makeSelect(text, "dataMeasurement", btn = true, noChosenOption = false);

		});

		$('#dataMeasurement').on('change', function (e) {
			/*
			Measurement 셀렉트 박스 변경 시 실행되는 함수
			*/

			$("#tagKey").remove();
			$("#tagValue").remove();

			$.ajaxSetup({ async: false });
			selectedDB = $('#dataDomain').val();
			selectedMS = this.value;
			if (selectedMS == '선택') return;

			let tag_url = '/DataIngestion/tagList';
			let params = { db_name: selectedDB, ms_name: selectedMS };

			request_post(tag_url, params, (data) => {

				let ClassTxt = 'form-control btn btn-deep-navy dropdown no-arrow  rounded-0 cycleSelectBox ml-1';
				let tagData = data.responseJSON;
				tagData = JSON.parse(tagData)["result"];

				if (tagData.length != 0) {

					makeTagSelectBoxHTML("#dataMeasurement", "tagKey", tagData, SetClas = true, ClassTxt = ClassTxt);
					makeSelect(tagData, 'tagKey', true, false);

					$("#tagKey").on('change', function (e) {
						/* tagKey selectBox 변경 시, 해당 tagValue 목록 가져오는 기능 */
						$("#tagValue").remove();

						let $this = $(e.target).val();
						let url = '/DataIngestion/distinctTagValue';
						let params = { db_name: $("#dataDomain").val(), ms_name: $("#dataMeasurement").val(), tag_key: $this };

						$.ajax({
							method: 'post'
							, url: url
							, data: JSON.stringify(params)
							, dataType: 'json'
							, success: function (d) {
								let result = JSON.parse(d);
								result = result["result"];

								if (result.length != 0) {
									makeTagSelectBoxHTML("#tagKey", "tagValue", result, SetClas = true, ClassTxt = ClassTxt);
									makeSelect(result, 'tagValue', true, false);

								}
							}
						});
					});
				}

			}, datatype = "json");


			get_url1 = '/DataIngestion/featureList/' + selectedDB + '/' + selectedMS;
			var text = getValueDataByAjax(get_url1, {}, "get", "result");
			console.log(text)
			makeSelect(text, "target", btn = true, true);

			get_url2 = '/DataIngestion/frequency/' + selectedDB + '/' + selectedMS;
			var text = getValueDataByAjax(get_url2, {}, "get", "result");
			$("#o_frequency").val(text);

			get_url3 = '/DataIngestion/startTime/' + selectedDB + '/' + selectedMS;
			$.get(get_url3, function (data) {
				result = JSON.parse(data)['result']
				$("#startTime").val(result.split(' ')[0]);
			})
			get_url4 = '/DataIngestion/lastTime/' + selectedDB + '/' + selectedMS;
			$.get(get_url4, function (data) {
				result = JSON.parse(data)['result']
				$("#endTime").val(result.split(' ')[0]);
			})

			$("#durationSet").val('');
			$("#duration").val(getDuration());

		});

		/* 클러스트 패턴 블록 숨김 */
		$("#cluster_pattern").css("display", "none");

		/* 화면 사이즈 조정 */
		var graph_part_width = $('#ms_graph_list').width()
		width = graph_part_width * (width_ratio)
		window.addEventListener('resize', function (event) {
			graph_part_width = $('#ms_graph_list').width()
			width = graph_part_width * (width_ratio)
			$(".ms_graph").width(width)
		}, true);

		/* 로딩바 기능 */
		$(document).ajaxStart(function () {
			$("#loading-prograss").show();
			$("#loading-prograss").show().css({
				top: $(document).scrollTop() + ($(window).height()) / 3 + 'px',
				left: ($(window).width()) / 2.5 + 'px'
			});

		});
		$(document).ajaxStop(function () {
			$("#loading-prograss").hide();
		});

		/* 클러스트 결과 - 패턴 버튼 클릭 */
		$('#pattern').on('click', function () {
			cluster_res_mode = 1;
			$("#cluster_count").css("display", "none");
			$("#cluster_pattern").css("display", "block");

			$(this).addClass('clust_btn_on');
			$('#count').removeClass('clust_btn_on');

		});

		/* 클러스트 결과 - 카운트 버튼 클릭 */
		$('#count').on('click', function () {
			cluster_res_mode = 0;
			$("#cluster_pattern").css("display", "none");
			$("#cluster_count").css("display", "block");

			$(this).addClass('clust_btn_on');
			$('#pattern').removeClass('clust_btn_on');

		});

		$('#start_cluster').on('click', function () {
			/* submit 버튼 클릭 시 */

			let domainValue = $("#dataDomain>option:selected").attr("value");
			if (domainValue == undefined) {
				alert("Domain을 선택해 주세요.");
				return;
			}

			let dataMeasurement = $("#dataMeasurement>option:selected").attr("value");
			if (dataMeasurement == undefined) {
				alert("data Measurement를 선택해 주세요.");
				return;
			}

			var feature = $("select[id='target']>option:selected").val();
			if (feature === '선택') {
				alert("feature을 선택해 주세요.");
				return;
			}

			$(".graph_result_area").show();
			make_empty();

			start_btn = $("#start_btn");

			if (true) {
				//if(start_btn.hasClass(START_BTN)){ //2022.03.30 start button disable 기능 제거
				is_processing = true;
				selectedDB = $('#dataDomain').val();
				selectedMS = $('#dataMeasurement').val();
				start_time = $("#startTime").val();
				end_time = $("#endTime").val();
				data_cycle = $('#dataCycle option:selected').val();
				cycle_times = $('#cycleTimes').val() * 1

				consecutiveNanLimit = $("#consecutiveNanLimit").val() * 1
				totalNaNLimit = $("#totalNaNLimit").val() * 1
				sample = $("#frequency").val()

				let tag_key = ($("#tagKey").val() == undefined ? "None" : $("#tagKey").val());
				let tag_value = ($("#tagValue").val() == undefined ? "None" : $("#tagValue").val());

				// 새로 생성
				if (cycle_times == 0) cycle = times = 1
				if (duration_day == 0) duration_day = 1
				if (consecutiveNanLimit == 0) consecutiveNanLimit = 10
				if (totalNaNLimit == 0) totalNaNLimit = 1
				if (sample == null) sample = "1H"

				params = {
					"db_name": selectedDB,
					"ms_name": selectedMS,
					"start_time": start_time + " 00:00:00",
					"end_time": end_time + " 23:59:59",
					"nanLimitInfo": { 'type': 'num', 'ConsecutiveNanLimit': consecutiveNanLimit, 'totalNaNLimit': totalNaNLimit },
					"cycle": data_cycle,
					"cycle_times": cycle_times,
					"column_names": [feature],
					"resampling_rate": sample,
					"tag_key": tag_key,
					"tag_value": tag_value
				}

				// print all table 
				$.ajax({
					type: "POST",
					url: ONE_TABLE_URL,
					async: false,
					data: JSON.stringify(params),
					contentType: 'application/json',
					dataType: 'json',
					error: function (error) {
						console.log(error);
					},
					success: function (data) {

						$("#ms_list_cnt").html("total graph count : " + Object.keys(data).length);
						print_one_table(data);

					}

				});

				request_post(
					CLUSTERING_URL,
					params,
					function (result) {
						if (result.status !== 200) {
							alert("clustering 값이 나오지 않습니다."); return;
						}
						msg = result.responseJSON;
						print_result(msg)
						print_result_img(msg)
					}
				);

				start_btn.removeClass(START_BTN);
				start_btn.addClass(RETURN_BTN);
			}
			else if (start_btn.hasClass(RETURN_BTN)) {
				is_processing = false
				start_btn.removeClass(RETURN_BTN)
				start_btn.addClass(START_BTN)
				$("#target").attr("disabled", false)
			}
		})// submit 버튼 클릭 시

	});


	/*
	Duration 구하는 함수
	*/
	function getDuration() {
		const startDt = $("#startTime").val();
		const endDt = $("#endTime").val();

		const date1 = new Date(startDt);
		const date2 = new Date(endDt);

		if (date1 > date2) {
			alert("please check the start date.");
			return false;
		}

		const diffDate = date1.getTime() - date2.getTime();
		const dateDays = Math.abs(diffDate / (1000 * 3600 * 24));

		return dateDays;
	}

	function setDuration() {
		$("#duration").val(getDuration());
	}

	function addDays(date, days) {
		var result = new Date(date);
		var intday = parseInt(days);
		result.setDate(result.getDate() + intday);

		return result;
	}

	//ing
	function changeDuration() {
		const startDt = $("#startTime").val();
		const setDt = $("#durationSet").val();
		var result = addDays(startDt, setDt);
		const year = result.getFullYear(); const month = result.getMonth() + 1; const date = result.getDate();
		result = `${year}-${month >= 10 ? month : '0' + month}-${date >= 10 ? date : '0' + date}`;
		$("#endTime").val(result);

		setDuration();

	}

	function make_empty() {
		for (i = 0; i < canvas_cnt; ++i) {
			$("#canvas_" + i).empty();
		}
		$('#cluster_count').empty();
		$("#cluster_table tbody").empty();
		if (myBarChart != undefined) {
			myBarChart.destroy();
		}
		cnt = 0;
		$('#cluster_pattern').attr("src", "");
	}

	function fill_table(result) {
		/*
			result = {
				"key1":"value1",
				"key2":"value2",
			}
		*/
		var real_table = $("#cluster_table tbody")
		ms = Object.keys(result)
		ms.forEach(element => {
			row = $('<tr></tr>')
			row.append('<td class="tg-13pz">' + element + '</td>')
			row.append('<td class="tg-13pz">' + result[element] + '</td>')
			real_table.append(row)
		});
		row = $('<tr></tr>')
		row.append('<td class="tg-13pz">TOTAL</td>')
		row.append('<td class="tg-13pz">' + ms.length + '</td>')
		real_table.append(row)
	}

	function print_result_img(msg) {

		if (msg["img"] == undefined) {
			alert("해당 Clustring result 이미지가 없습니다.");
			return;
		}

		$("#cluster_pattern").attr("src", 'data:image/png;base64,' + msg["img"]);
		$("#cluster_pattern").css("width", "100%");

		$("#count").addClass("clust_btn_on");

	}

	function print_result(msg) {

		if (msg["data"] == undefined) {
			alert("해당 Domain의 데이터가 없습니다.");
			is_processing = false;
			return;
		}

		var json_data = msg['data']
		if (Object.keys(json_data).length <= 0) {
			is_processing = false
			return
		}
		var table = {
			"time_index": [],
			"cluster": []
		}
		for (key in json_data) {
			table["time_index"].push(key)
			table["cluster"].push(json_data[key])
		}
		// fill table
		fill_table(json_data)
		var counts = {};
		var sampleArray = Object.values(json_data);
		sampleArray.forEach(function (x) { counts[x] = (counts[x] || 0) + 1; });
		temp = $.extend(true, {}, bar_data);
		temp["labels"] = Object.keys(counts);
		for (i in temp["labels"]) {
			temp["labels"][i] = "Cluster " + temp["labels"][i]
		}
		temp["datasets"][0]["data"] = Object.values(counts);
		tempConf = $.extend(true, {}, bar_config);
		tempConf["data"] = temp
		myBarChart = new Chart(
			document.getElementById("cluster_count"),
			tempConf
		);

		if (cluster_res_mode == 1) {
			$("#cluster_count").css("display", "none")
		}
		is_processing = false
	}

	function checkFlag(flag) {
		//console.log(flag)
		if (flag == 1) {
			// It has all data
			color = "LightCoral"
		}
		else if (flag == 0) {
			// It has nan data
			color = "gray"
		}
		else {
			// It doesn't have data
			color = "BurlyWood"
		}
		return color
	}

	function print_one_table(result) {

		let msg = result;
		for (i = 0; i < Object.keys(msg).length; i++) {
			canvasName = "#canvas_" + (cnt % canvas_cnt)
			chartName = "myChart" + cnt
			ele = '<canvas id="' + chartName + '" class="ms_graph"></canvas>'
			$(canvasName).append(ele)


			//2022.04.01
			temp = $.extend(true, {}, data);
			if (msg !== undefined) {

				color = checkFlag(msg[i]["flag"])
				temp["datasets"][0]["data"] = msg[i]["data"]
				temp["datasets"][0]["label"] = msg[i]["time_index"]
				temp["labels"] = [...Array(msg[i]["data"].length).keys()];
				temp["datasets"][0]["backgroundColor"] = color
				temp["datasets"][0]["borderColor"] = color
			} else {
				color = checkFlag(2);
			}

			tempConf = $.extend(true, {}, config);
			tempConf["data"] = temp

			var myChart = new Chart(
				document.getElementById(chartName),
				tempConf
			);

			cnt += 1;
		}
	}


</script>

{% endblock %}