{% extends '/layout.html' %} 
{% block content %}
<link href={{url_for('static', filename="css/dataselection.css")}} rel="stylesheet">
<style>
.rect{
  fill:#dde9ed;
}
.circle{
  fill:rgb(248, 228, 115);
}
.link{
  fill:none;
  stroke: #dee2e6;
  stroke-width:1.2px;
}
.text{
  font-family:"Arial Black", Gadget, sans-serif;
  fill: rgb( 3, 3, 3);
  font-weight: bold;
  font-size: 12px;
}
.graph{
  height: 1100px;
  margin: 20px;
  padding:10px;
  border: 2px solid #000;
  overflow: scroll;
  box-shadow: 0 0 0 1px rgb(61, 58, 58);
}
.graph:hover{
  box-shadow: 12px 12px 2px 1px rgba(56, 56, 77, 0.2)
}



</style>
<div class="loader">
    
</div>
<div class="container-fluid">
  <div class="row">
    <!-- Content Column -->
    <div class="col-xl-12 col-lg-12" id="graph_board">
      <div class="graph" >
        <svg id ='tree_graph' width="1200" >
          <g transform ="translate(40, 10)">
            <g class="links"></g>
            <g class="nodes"></g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script>


$( document ).ready(function() {
  $('.container-fluid').hide()
  $('.graph').height($( window ).height()*(6/7) )
  get_data();
});

function get_data(){
  data_list = new Array();
  get_url = '/DataIngestion/allDBMSSetInfo'
  $.ajax({
    type : 'GET',
    url : get_url,
    error : function(error) {
    },
    success : function(data) {
        console.log("success")
    },
    complete : function(result) {

        data_string = result.responseJSON;
        data_string = JSON.parse(data_string).result;
        
        var data_list = eval(data_string);
        var data_list_leng = data_list.length
        $('#tree_graph').height(data_list_leng*60)
        
        treeChart(data_list);
        
        $('.loader').hide()
        $('.container-fluid').show()   
        //$('#tree_graph').height(20000)
    }
  });

  return data_list
}

function treeChart(data_list){
  var nestedData = d3.nest()
    .key(d=>d.Source)
    .key(d=>d.DB)
    .entries(data_list);

  var treeData = d3.hierarchy(nestedData[0], d=>d.values)
  //var treeLayout = d3.tree().size([600, 500])
  //var treeLayout = d3.tree().size([20000, 500])
  var treeLayout = d3.tree().size([data_list.length*60,$( window ).width()*(3/7) ])
  treeLayout(treeData)
  console.log("treeLayout")

  var parentsNumber = 1+ nestedData[0].values.length

  treeNodes = d3.select("svg g.nodes")
  treeNodes.selectAll("circle")
  .data(treeData.descendants().slice(0, parentsNumber))
  .enter()
  .append("circle")
  .attr("class", "circle")
  .attr("transform", d=>'translate('+[d.y , d.x]+')')
  .attr("r", 8)

  treeNodes.selectAll("rect")
  .data(treeData.descendants().slice(parentsNumber))
  .enter()
  .append("rect")
  .attr("class", "rect")
  .attr("transform", d=> 'translate('+[d.y , d.x]+')')
  .attr("width", d=> ((d.data.MS+' ').length+4)*9)
  .attr("height", 25)
  .attr("y", -25/2)

  console.log("rect")

  d3.select('svg g.links')
  .selectAll('line')
  .data(treeData.links())
  .enter()
  .append("path")
  .classed("link", true)
  .attr("d", function(d){
    return "M" + d.target.y +"," + d.target.x
    + "C" + (d.source.y +100 )+"," + d.target.x
    + " " + (d.source.y +100 )+"," + d.source.x
    + " " + (d.source.y )+"," + d.source.x
  })

  treeNodes.selectAll("text.nodes")
  .data(treeData.descendants().slice(0, parentsNumber))
  .enter()
  .append("text")
  .attr("class", "text")
  .attr("transform", d =>'translate('+[d.y+10 , d.x+5]+')')
  .text((d=>d.data.key))

  treeNodes.selectAll("text.nodes")

  .data(treeData.descendants().slice(parentsNumber))
  .enter()
  .append("a")
  .attr("xlink:href", d=>'/DataVisualization/recentDataForVisualByDBMSDays/'+d.data.DB +'/'+d.data.MS+'/3000')
  .attr("value", d=>d.data.etc)
  .append("text")
  .attr("class", "text")
  .attr("transform", d =>'translate('+[d.y+10 , d.x+5]+')')
  .text((d=>d.data.MS))
  .on("mouseover", MouseOverText())
  .on("mouseover", MouseOverText())

  function MouseOverText(d){
    d3.select(this).transition().duration(200)
    .style("fill", 'rgb(248, 228, 115)')
    .style("stroke-width", "1px")
    .style("text-decoration", "underline")
    
  }

}
</script>
{% endblock %}
